$colorText: #01384d;
$lightBlue: #c7dff5;
$colorBg: #f6fbff;
$colorBorder: #c7dff5;
$colorAksiya: #1fca25;
$colorYangi: #ff6b6b;
$colorChegirma: #FF5D5D;
$bgColorHead: #EABF9F;
$colorFooterText: #0A142F;